body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  position: absolute;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: max-content;
  padding-bottom: 30px;
}

.menuButton {
  padding-left: 16px;
  width: auto;
}

.leftPannel {
  height: 100vh;
  width: 300px;
  min-width: 300px;
  border-right: 1px solid rgba(0, 0, 0, 0);
  background: rgba(211, 211, 211, 0.42);
}
.mainPannel {
  background: rgba(14, 14, 14, 0.13);
  width: 100%;
}

.userInfo {
  padding: 20px;
  text-align: left;
}

.moreInfoButton {
  width: 100%;
  height: 30px;
  text-align: center;
  color: rgba(30,21,155,0.67);
  background-color: transparent;
  transition: 1s;
}

.itemRow {
  padding-left: 16px;
  padding-right: 16px;
  order: 1;
  display: flex;
  flex-flow: row;
}


.buttonSettings {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  min-width: 30px;
  min-height: 30px;
  background: #5d5c5c;
}

.itemsButtonsGroup {
  margin: 16px 0;
  justify-content: center;
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
  gap: 8px;
  flex-flow: row;
  align-items: center;
}

.moreInfoButton:hover {
  transition: background-color 1s;
  background-color: rgba(128, 128, 128, 0.25);
}

.moreInfoBlock {
  width:100%;
}

.mainPadding {
  padding-bottom: 30px;
}
.mainContent {
  position: relative;
  margin-left: 30px;
}
.profileCard {
  position: relative;
  width: auto;
  height: auto;
  border-radius: 4px;
  border: 1px solid black;
  margin: 10px 16px;
}

.cardLayout {
  display: flex;
  flex-flow: column;
  padding-bottom: 16px;
}

.cardHeader {
  background: lightgray;
  display: flex;
  flex-flow: row;
  width: 265px;
}

.editButton {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 5px;
  width: 24px;
  height: 32px;
  background: lightgray;
}

.cardTitle {
  text-align: left;
  border-radius: 4px;
  padding: 8px;
  height: 32px;
}

.buttonIncr {
  width: 200px;
  height: 32px;
  border: 1px solid black;
  border-radius: 4px;
}

.textElement {
  width: 100px;
  height: 32px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.44);
}