.projectsLayout
  padding-top: 20px
  padding-left: 20px
  width: 100%

  &Title
    font-size: 32px
    font-weight: bold

  &List
    margin-top: 20px
    display: flex
    flex-flow: row
    flex-wrap: wrap
    gap: 10px
