.item
  width: 300px
  min-height: 400px
  max-height: auto
  border: 1px solid black
  border-radius: 4px

  &Name
    padding: 8px
    width: 100%
    height: 30px
    font-weight: bold
    font-size: 20px

  &Divider
    width: auto
    background: black
    height: 1px
    margin: 16px 8px

  &Body
    padding: 8px
    display: flex
    flex-flow: column

    &ListParams
      display: flex
      flex-flow: column
      gap: 5px

      &ListItem
        font-size: 14px
        display: flex
        flex-flow: row
        width: 100%
        flex-wrap: none
       


